# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data files (if large)
data/
